@import "../04_Variables_And_StyleComponents/Variables/Fonts_And_Styles.scss";
@mixin commonProp {
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 2rem;
  cursor: $default, default;
  & a {
    cursor: $pointer, pointer;
    user-select: none;
  }
}
.child_container {
  @include commonProp;
}
