@import "../../../04_Variables_And_StyleComponents/Variables/Fonts_And_Styles.scss";

nav {
  .routes {
    margin: 0 2rem;
    a {
      font-size: $font_md_1;
      user-select: none;
      transition: all 0.3s linear;
      &:focus {
        font-style: italic;
        transition: all 0.3s linear;
        font-weight: $font_bold;
      }
    }
  }
}
html {
  cursor: $default;
}
@media screen and (max-width: 1020px) {
  @mixin navbar_toggle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 320px;
    box-shadow: inset 0px 0px 8px #888888;
    border-radius: 20px;
    z-index: 20;
  }
  .nav_closer::before {
    content: "";
    background: #00000092;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
  }

  .navbar_visible {
    @include navbar_toggle;
    transition: 0.3s linear;
  }
  .navbar_invisible {
    @include navbar_toggle;
    transform: translateX(-200%);
    transition: 0.3s linear;
  }
  .bg_dark {
    background: $dark_bg;
  }
  .bg_light {
    background: $light_bg;
  }
}
@media screen and (max-width: 327px) {
  @mixin width {
    width: 85%;
  }
  .navbar_visible {
    @include width;
  }
  .navbar_invisible {
    @include width;
  }
}
@media screen and (max-width: 1000px) and (max-height: 250px) {
  @mixin navbar_toggler {
    flex-direction: row;
    width: 100%;
  }
  .navbar_invisible {
    @include navbar_toggler;
  }
  .navbar_visible {
    @include navbar_toggler;
  }
}
