@import "../../04_Variables_And_StyleComponents/Variables/Fonts_And_Styles.scss";

.work_container {
  height: 89.5vh;
  overflow: auto;
  animation: home ease-in-out backwards 0.8s;
  .section_up {
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .some_latest_work {
      font-size: $font_lg_5;
      font-family: $font_bold;
    }
  }
  .section_down {
    margin-top: 1rem;
    overflow: auto;
    .work_card_container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      & .dummyCard {
        width: 30vw;
        min-width: 320px;

        min-height: 400px;
        margin: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.loadingState {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 400px) {
  .work_container {
    .section_up {
      height: 60px;
      .some_latest_work {
        font-size: $font_md_5;
      }
    }
  }
}
