@import "../../../04_Variables_And_StyleComponents/Variables/Fonts_And_Styles.scss";

.nav_container {
  font-family: $font_regular;
  padding: 1rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 20;
  background: red;
  backdrop-filter: blur(3px);
  .logo {
    position: relative;
    top: 0.7rem;
  }
  .theme_toggler {
    position: absolute;
    top: 50%;
    right: 3rem;
    transform: translate(-50%, -50%);
  }
  .menu_bar {
    display: none;
  }
}
@media screen and (max-width: 1020px) {
  .nav_container {
    padding: 0 1rem;
    .menu_bar {
      display: inline;
      position: absolute;
      top: 35%;
      right: 2rem;
      z-index: 21;
    }
  }
}
@media screen and (max-width: 250px) {
  * {
    visibility: hidden;
    background: $dark_bg;
  }
}
