@import "../Variables/Fonts_And_Styles.scss";

.main_modal_container {
  animation: home ease-in-out backwards 0.5s;

  padding-bottom: 5rem;
  .return_to_main_page {
    position: sticky;
    margin: 1rem;
    top: 2rem;
    left: 2rem;
    color: #000000;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s ease;
    transition-property: background, color;

    &:hover {
      background: #0000002b;
      color: #ffffff;
    }
  }
  .modal_image_container {
    overflow: hidden;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      border-radius: 20px;
      width: 100%;
      height: 100%;
      user-select: none;
      -webkit-user-drag: none;
    }
  }
  & .description_controller {
    max-width: 1000px;
    margin: auto;

    & .project_title {
      letter-spacing: 2px;
      font-family: $font_bold;
      text-align: center;
      font-size: $font_xl_1;
      margin: 1rem;
    }
    & .project_desc_txt {
      font-size: $font_md_3;
      font-family: $font_md;

      text-align: start;
      letter-spacing: 2px;
      width: 100%;
    }
    & .project_desc {
      height: 1fr;
      padding: 1rem;
      font-family: $font_regular;
      letter-spacing: 3px;
    }
  }
}
.project_btn {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #000000a9;
  display: block;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  & a {
    color: white;
    font-family: $font_regular;
    letter-spacing: 2px;
    transition: 0.3s ease-in-out;
    transition-property: transform;
    text-decoration: none;
    &:hover {
      transform: scale(0.9);
    }
  }
}
