@import "../../04_Variables_And_StyleComponents/Variables/Fonts_And_Styles.scss";

.home_parent {
  height: 84.4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: home ease-in-out backwards 0.8s;

  .home_container {
    width: 98%;
    margin: auto;
    .home_content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .home_about {
        font-size: $font_5xl_1;
        font-family: $font_bold;
        margin: 2rem;
        letter-spacing: 1px;
      }
      .about_img_container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
        max-width: 490px;

        img {
          width: 100%;
          object-fit: cover;
          border-radius: 50%;
          -webkit-user-drag: none;
          user-select: none;
        }
      }
    }
  }
}
@keyframes home {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (max-width: 940px) {
  .home_content {
    flex-direction: column-reverse;
  }
  .home_parent > .home_container > .home_content > .home_about {
    font-size: $font_4xl_1;
    text-align: center;
  }
  .home_parent > .home_container > .home_content > .about_img_container {
    max-width: 450px;
  }
}
@media screen and (max-width: 583px) {
  .home_parent {
    width: 100%;
    position: fixed;
  }
  .home_parent > .home_container > .home_content > .home_about {
    font-size: $font_xl_4;
    text-align: center;
    width: 100%;
  }
  .home_parent > .home_container > .home_content > .about_img_container {
    & img {
      max-width: 320px;
    }
  }
}
@media screen and (max-width: 291px) {
  .home_parent > .home_container > .home_content > .home_about {
    font-size: $font_xl-1;
  }
}
