@import "../../04_Variables_And_StyleComponents/Variables/Fonts_And_Styles.scss";
@mixin headings {
  font-family: $font_semi;
  font-style: italic;
  font-size: $font_md_4;
  letter-spacing: 2px;
  margin: 1rem;
}
@mixin bodys {
  font-family: $font_regular;
  letter-spacing: 2px;
  padding: 1rem;
  margin: 1rem 3rem;
  letter-spacing: 1px;
}
.terms_parent_container {
  width: 100%;
  .trms_conditons {
    text-align: center;
    font-family: $font_bold;
    font-size: $font_md_4;
    letter-spacing: 2px;
  }
  .terms_content_controller {
    height: 100%;
    width: 100%;
    padding: 2rem;
    .header_txt {
      font-family: $font_regular;
      font-size: $font_sm_5;
      letter-spacing: 2px;
      line-height: 1.8;
      & strong {
        @include headings;
      }
    }
    .bolder {
      @include headings;
    }
    .flexing > .regular {
      @include bodys;
      & .drf {
        color: #875af0;
        letter-spacing: 2px;
        font-size: $font_md_4;
      }
    }
    .quote {
      font-family: $font_semi;
      letter-spacing: 2px;
      font-style: italic;
      & > a {
        color: #875af0;
        font-style: normal;
      }
    }
  }
}
